catecunsolo
#5503

erika — ayer a las 20:57
mmm
ojala que no
de ultima quedate acostada
y pone el celu con sonido
kt — ayer a las 20:58
pasa que me cansa eso tambien
me hace mierda quedarme en la cama
porque quiero dormri
y como estoy en la cama como que los ojos me dicen CERRALOS
erika — ayer a las 20:59
jajajaj
bueno por eso deja el celu con sonido
kt — ayer a las 20:59
o sea real me duelen
erika — ayer a las 20:59
por si les mandan algo
kt — ayer a las 20:59
y si no lo escuhco
escucho jajaaj
erika — ayer a las 20:59
ponele un sonido molesto ah
kt — ayer a las 21:01
alta paja configurar todo jaajaj
lpm
erika — ayer a las 21:01
jajaja bueno es para dormir mas
kt — ayer a las 21:04
erika — ayer a las 21:05
Entro o que
👀
kt — ayer a las 21:05
a ver decime si podes abrir esto
https://archivos.potrerodigital.org/files-plataforma/606939880583402e3c3ba669/Tareas/trabajo_pr_ctico_5_1631982229018.pdf
erika — ayer a las 21:05
yes
kt — ayer a las 21:06
ah seguridad a marzo potrerodigital
erika — ayer a las 21:06
jajajajajaj
pues si
que hago entro con la compu y te comparto o con el celu y te hablo
jajaja
kt — ayer a las 21:08
ay :c
yo queria las dos ahre
jasjdj
erika — ayer a las 21:09
jajaja bueno por aca no puedo las dos
meet?
kt — ayer a las 21:10
https://github.com/catecunsolo/PotreroDigital_Clase2.git
GitHub
GitHub - catecunsolo/PotreroDigital_Clase2
Contribute to catecunsolo/PotreroDigital_Clase2 development by creating an account on GitHub.

bueno espera
se me va a morir la compu
erika — ayer a las 21:10
espero
kt — ayer a las 21:11
https://meet.google.com/ecz-zspu-jmw
Meet
Real-time meetings by Google. Using your browser, share your video, desktop, and presentations with teammates and customers.
Imagen
esta preguntando el profesor lcdtm
erika — ayer a las 21:11
jajaj bueno vaya
kt — ayer a las 21:11
ahi te pase el link del meet
cierro dc x la ram
erika — hoy a las 12:06
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TaCunso</title>
    <link rel="stylesheet" href="css/receta.css" />
  </head>

  <body>

    <header>
      <img class="gorro" src="imagenes/images.png" alt="gorrito mexi" />
      <h1 class="estilo_titulo">
        <span class="spacing">RECETAS TÍPICAS DE </span>
        <span class="color_verde">MÉ</span>XI<span class="color_rojo">CO</span>
      </h1>
    </header>
    <nav>
      <a class="green" href="contact.html">CONTACTO</a>
      <a
        target="blank"
        class="white"
        href="https://www.paulinacocina.net/como-hacer-tacos-mexicanos/21098"
        >RECETAS SIMILARES</a
      >
      <a
        target="blank"
        class="red"
        href="https://www.thebeertimes.com/recetas-de-cocteles-con-tequila/"
        >BEBIDAS</a
      >
    </nav>
    <br />
    <main>
      <div class="margen">
    <p class="principal">
      ¡Bienvenida/os! En el día de hoy les traemos la receta de...
    </p>
    <h2 class="estilo_titulo">¡NACHOS!</h2>
    </div>
    <br />

    <section class="container-listas">
      <div class="lista">
    <h3 class="t_ingredientes">-> INGREDIENTES</h3>
    <ul class="fuente_lista">
      <li>1 TAZA POLENTA</li>
      <li>1 TAZA HARINA</li>
      <li>1 TAZA AGUA</li>
      <li>CONDIMENTOS A GUSTO (Recomendación: SAL, PIMENTÓN y PROVENZAL).</li>
    </ul>
  </div>
    <aside>
    <img
      class="img"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQY_r246AaJeY3vvF1RUGpkOU6um-25pzRDGDr6F5cRAtDN_Vw1gpIU9wUSLvgpPXYhF0Q&usqp=CAU"
      alt="ingredientes"
    />
    </aside>
  </section>
    
    <br />
    <br />
    <br />
    <br />
    <br />

    <section class="container-listas">
    <div class="lista">
    <h3 class="t_pasos">-> PASOS A SEGUIR</h3>
    <ol class="fuente_lista">
      <li>Mezclar todos los ingredientes juntos.</li>
      <li>Cortar la masa formada en bollitos.</li>
      <li>Amasar cada uno de ellos.</li>
      <li>Cortar en "triangulitos" y pincharlos con tenedor.</li>
      <li>Freír y una vez dorados ponerlos en papel absorbente.</li>
      <li>Listo! A disfrutar!</li>
    </ol>
  </div>
    <aside>
    <img
      class="img img_pasos"
      src="https://i.blogs.es/6a6803/paso-a-paso/450_1000.jpg"
      alt="procedimientos"
    />
  </aside>
    </section>


  </body>
  <section>
  <br />
  <br />
  <br />
  <h2 class="principal">¿Necesitás un video?</h2>
  <br />
  <br />
  <br>
... (59 líneas restantes)
Contraer
receta.html
5 KB
body {
  background-color: #011627;
  margin: 0;
  max-width: 100vw;
  min-width: 100vw;
  font-size: 16px;
}

/* header h1,
nav {
  min-width: 100vw;
  max-width: 100vw;
} */

.gorro {
  display: block;
  margin: auto;
  max-width: 100vw;
}

.estilo_titulo {
  background-color: #ff9f1c;
  color: #fdfffc;
  text-align: center;
  font-family: Impact;
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000,
    2px -2px 1px #000;
}

h1 {
  box-sizing: border-box;
  padding: 35px 0px;
  text-align: center;
  font-style: inherit;
  font-size: 4.4em;
  letter-spacing: 3px;
  margin-bottom: 0;
}

h2 {
  letter-spacing: 2px;
  margin-top: 0px;
  font-size: 55px;
  margin-bottom: 3.4em;
}

h3 {
  font-family: Segoe UI;
  background-color: #fdfffc;
  /* margin-left: 40px;
  margin-right: 700px; */
}

.t_ingredientes {
  color: green;
  text-decoration: underline green;
}

.t_pasos {
  color: red;
  text-decoration: underline red;
}

.spacing {
  word-spacing: 20px;
}

.color_verde {
  color: green;
}

.color_rojo {
  color: red;
}

.principal {
  background-color: #082d4b;
  font-family: Tahoma;
  color: #fdfffc;
  font-size: 35px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 130px;
}

.img {
  /* position: absolute;
  right: 0;
  margin-right: 50px;
  margin-top: -40px; */
  max-width: 100vw;
}

.img_pasos {
  height: 168px;
  width: 300px;
}

ul {
  background-color: green;
... (265 líneas restantes)
Contraer
receta.css
7 KB
kt — hoy a las 12:38
Borraste uno o se me bugueo?
Graciaasss🥰
kt — hoy a las 12:39
Tipo el contact
erika — hoy a las 13:01
Sisi porque no cambie nada ahi
Entonces no te lo pase
kt — hoy a las 14:05
okis, gracias :3
como compartiste asi
es el archivo o tenes algun plugin?
erika — hoy a las 14:06
Es el archivo
De nadaa
﻿
body {
  background-color: #011627;
  margin: 0;
  max-width: 100vw;
  min-width: 100vw;
  font-size: 16px;
}

/* header h1,
nav {
  min-width: 100vw;
  max-width: 100vw;
} */

.gorro {
  display: block;
  margin: auto;
  max-width: 100vw;
}

.estilo_titulo {
  background-color: #ff9f1c;
  color: #fdfffc;
  text-align: center;
  font-family: Impact;
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000,
    2px -2px 1px #000;
}

h1 {
  box-sizing: border-box;
  padding: 35px 0px;
  text-align: center;
  font-style: inherit;
  font-size: 4.4em;
  letter-spacing: 3px;
  margin-bottom: 0;
}

h2 {
  letter-spacing: 2px;
  margin-top: 0px;
  font-size: 55px;
  margin-bottom: 3.4em;
}

h3 {
  font-family: Segoe UI;
  background-color: #fdfffc;
  /* margin-left: 40px;
  margin-right: 700px; */
}

.t_ingredientes {
  color: green;
  text-decoration: underline green;
}

.t_pasos {
  color: red;
  text-decoration: underline red;
}

.spacing {
  word-spacing: 20px;
}

.color_verde {
  color: green;
}

.color_rojo {
  color: red;
}

.principal {
  background-color: #082d4b;
  font-family: Tahoma;
  color: #fdfffc;
  font-size: 35px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 130px;
}

.img {
  /* position: absolute;
  right: 0;
  margin-right: 50px;
  margin-top: -40px; */
  max-width: 100vw;
}

.img_pasos {
  height: 168px;
  width: 300px;
}

ul {
  background-color: green;
}

.fuente_lista {
  font-family: "Segoe UI";
  font-style: initial;
  color: #fdfffc;
  /* margin-right: 500px; */
}

ol {
  background-color: red;
}

.container-listas {
  display: flex;
  flex-wrap: wrap;
  width: 100%
}
.lista {
  flex-grow: 2.5;
  flex-basis: content;
}

.mapa {
  display: block;
  margin: auto;
  max-width: 100vw;
  width: 400px;
  height: 300px;
  border: 0;
}

.cancion {
  display: block;
  margin: auto;
  width: 100%;
  height: 80px;
}

.video {
  display: block;
  margin: auto;
  max-width: 100vw;
  width: 560px;
  height: 315px;
}

.final {
  position: absolute;
  margin-bottom: 0px;
  background-color: rgb(53, 53, 53);
  color: rgb(150, 150, 150);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#copyright {
  overflow: hidden;
  padding: 5em 0em;
  margin: 0;
}

#copyright p {
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
  font-family: Tahoma;
  color: #6f6f6f;
}

footer {
  background-color: white;
  opacity: 0.7;
}

nav {
  text-align: center;
  background-color: #ff9f1c;
  border-top: whitesmoke solid 2px;
  padding-bottom: 3px;
}

nav a {
  box-sizing: border-box;
  font-size: 1.7em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px 100px;
  text-decoration: none;
  border-left: 3px solid whitesmoke;
  border-right: 3px solid whitesmoke;
  padding: 0px 15px;
}

nav a:link {
  color: whitesmoke;
}

nav a:active {
  background-color: rgb(255, 255, 255);
  color: #000;
}

nav a.red:hover {
  background-color: red;
}
nav a.white:hover {
  background-color: blanchedalmond;
  color: black;
}
nav a.green:hover {
  background-color: green;
}

nav a:visited {
  color: grey;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smooth: antialiased;
  text-rendering: optimizeLegibility;
}

.formu {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: #011627;
}

.cont {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #f9f9f9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: rgb(0, 124, 17);
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43a047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
